.video-section {
  position: relative;
  overflow: visible;
  height: auto;
  z-index: 1;
}

.video-section::before {
  content: "";
  position: absolute;
  width: 100%;

  top: 0;
  left: 0;
  background: rgba(40, 46, 99, 0.56);
  z-index: -1;
}

.announcement-text p {
  font-size: 1.34rem;
  line-height: 1;
}

.video-section .video-btn-wrapper .video-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}
