/* components/Speaker.module.css */
.speaker {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add some space between the name and the title */
  justify-content: center;
  margin-bottom: 10px;
}

.speakerName,
.speakerTitle {
  margin: 0; /* Remove default margins */
}

.speakerName {
  font-size: 20px;
}

.speakerTitle {
  font-size: 16px;
  color: #666;
}
